body {
  overflow-x:hidden;
  font-family: 'Open Sans', sans-serif;
}
a:hover, a:focus {
  text-decoration: none !important;
}
.header-background{
  background: url("../img/header_image@2x.jpg");
  background-size: cover;
  min-height: 630px;
  background-position: center;
}
.body-background{
  background: url("../img/bg_image@2x.png");
  background-size: cover;
  min-height: 330px;
  background-position: center -145px;
}
.header{
background: rgb(0, 141, 177) none repeat scroll 0% 0%;
}
.logo{
  width: 160px;
  margin-top: 3.5%;
}
.htwo{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 1.0;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-top: -30px;
}
#messages{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: orange;
  line-height: 1.0;
  padding-top: 40px;
}
.ALERT-ABOUT-MISSING {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  color: #ffffff;
   margin-top: 10px;
}
.RECEIVE-ACTIVE-AMBER {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
margin-bottom: 30px;
}
.slack-button {
  width: 360px;
  height: 64px;
  border-radius: 4px;
  background-color: #f0544f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #e53d00;
}
.contact-button {
width: 120px;
border-radius: 4px;
background-color: rgb(240, 84, 79);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
border: 2px solid rgb(229, 61, 0);
height: auto;
}
.slack-button:hover,
.slack-button:focus,
.slack-button:active {
  background-color: #ec6d69;
  border: solid 2px #e53d00;
}
.contact-button:hover,
.contact-button:focus,
.contact-button:active {
  background-color: #ec6d69;
  border: solid 2px #e53d00;
}
.contact-icon{
margin-right: 5px;
color: rgb(255, 255, 255) !important;
font-size: 10px !important;
}
.contact-text{
font-size: 11px !important;
}
.slack-button img{
  margin-top:-4px;
  width:40px;
  height:40px;
  margin-right:20px;
}
.Add-MissingKidsBot {
  font-size: 18px;
  line-height: 3;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
.slack-chat{
  width: 85%;
  margin-top: -25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bold-headline{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  letter-spacing: 1px;
  color: #414141;
  font-weight: 700;
}
.teal-line{
  padding-top: 7px;
  border-bottom: 4px solid #008db1;
  width: 64px;
  display: block;
  margin-bottom: 16px;
}
.small-text {
font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.8px;
  color: #9b9b9b;
}
.features{
  max-width:360px;
}
.bottom-logo{
  width: 120px;
  margin-top: 20px;
  margin-bottom: 35px
}
.Contact-us {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.8px;
  color: #008db1;
}
.footer-logo{
  max-height: 40px;
  display: inline;
  margin-right: 16px;
}
.icons {
  margin-top: 11px;
  margin-left: -23px;
  color: rgb(0, 141, 177);
  margin-right: 5px;
}
.footer {
  margin-top:64px;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
  display:table;
  width:100%;
}
.footer .table-cell {
  display:table-cell;
  width:100%;
  vertical-align:middle;
  padding-top:12px;
}
.footer i {
  color: rgb(0, 141, 177);
  font-size:24px;
}
.footer .small-text {
  margin-bottom:0;
}
.footer .fork {
  margin-top: 8px;
}
.footer .comming-soon{
  padding-right:16px;
  padding-top:8px;
}
.footer .comming-soon-icons {
  padding-left:0;
  padding-top:8px;
}
.footer .comming-soon-icons i {
  padding-right:10px;
}

/* mobile styles */
@media only screen and (min-width: 320px) and (max-width: 667px){
.htwo {
  margin-top: 10px;
}
.Add-MissingKidsBot {
    font-size: 16px;
	}
	.bold-headline {
    text-align: center;
	}
	.teal-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
		.small-text {
    text-align: center;
}
}
@media only screen and (min-width: 668px) and (max-width: 1024px){
.htwo {
  margin-top: 10px;
}
.Add-MissingKidsBot {
    font-size: 16px;
	}
	.bold-headline {
    text-align: center;
	}
	.teal-line {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
	.small-text {
    text-align: center;
  }
}
