<!DOCTYPE html>
<html>
  <head>
    <title>MissingKids Slack Bot - Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <div class="row header">
      <div class="container">
        <div class="col-lg-12 col-md-12">
          <a href="/"><img class="logo" src="img/logo_header.png" alt="missingkidsbot logo" style="margin: 1% 0px;"></a>
        </div>
      </div>
    </div>
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2 class="section-heading">MissingKidsBot.org Help</h2>
          <p>Invite <strong>@missingkids</strong> to a channel. Use <strong>@missingkids help</strong> to get missing kids information.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
          <img class="slack-chat" src="img/slack_window@2x.png" alt="slack chat for missingkidsbot">
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
      </div>
      </div>
    <%= partial 'public/partials/_footer.html' %>
  </body>
</html>
