<!DOCTYPE html>
<html>
  <head>
    <title>Missing Kids Slack Bot</title>
    <meta name="description" content="Missingkidsbot is a Slack bot that allows you to receive active amber alerts and help spread the search for missing children.">
    <meta name="keywords" content="slack bot, missing kids, missing kids bot, missing children, amber alerts, help find missing kids, bot for missing kids"

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.missingkidsbot.org/" />
    <meta property="og:site_name" content="Missing Kids Bot">
    <meta property="og:title" content="A Slack bot to alert about missing children" />
    <meta property="og:description" content="Missingkidsbot allows you to receive active amber alerts and help spread the search for missing children." />
    <meta property="og:image" content="http://www.missingkidsbot.org/img/missingkids_open_graph_1a.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="missingkidsbot.org" />
    <meta name="twitter:title" value="A Slack bot to alert about missing children" />
    <meta name="twitter:description" value="Missingkidsbot allows you to receive active amber alerts and help spread the search for missing children." />
    <meta name="twitter:image" content="http://www.missingkidsbot.org/img/missingkids_open_graph_1a.png" />
    <meta name="twitter:url" value="http://www.missingkidsbot.org/" />

    <%= partial 'public/partials/_head.html.erb' %>

    <script src="/scripts/register.js"></script>
  </head>
  <body>
    <div class="row header-background">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <a href=""><img class="logo" src="img/logo_header.png" alt="missingkidsbot logo"></a>
            <h2 class="htwo text-center">The Slack Bot to </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h1 class="ALERT-ABOUT-MISSING text-center">ALERT ABOUT MISSING CHILDREN </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h3 class="RECEIVE-ACTIVE-AMBER text-center">RECEIVE ACTIVE AMBER ALERTS &amp; HELP SPREAD<br>
            THE SEARCH FOR MISSING CHILDREN</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class='htwo text-center' id='messages'></div>
            <div id='register-top'>
              <a class="link" href="https://github.com/dblock/slack-amber-alert/issues/31">
                <button class="slack-button center-block">
                <img src="img/slack_logo_button_@2x.png" alt="slack add to button"><span class="Add-MissingKidsBot">
                  Unfortunately the MissingKids.org API is broken. Help us fix it.
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
          <img class="slack-chat slack-chat-welcome" src="img/slack_window@2x.png" alt="slack chat for missingkidsbot">
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
      </div>
      <div class="row body-background">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-4 col-md-4">
          <h4 class="bold-headline"><i class="fa fa-group icons"></i>Who Are We </h4>
          <div class="teal-line"></div>
          <p class="small-text">MissingKidsBot was created by two friends - David Markovich and Daniel Doubrovkine. Both David and Daniel have backgrounds in Slack and Bot creation. Before immersing himself in the Slack eco-sytstem, David was a digital marketer and is currently the founder of <a href="http://chatoverload.com/">ChatOverload.</a> Previous to becoming the CTO at <a href="http://artsy.net/">Artsy</a>, Daniel was a serial entrepreneur and worked for Microsoft among other accomplishments. You can read about both of them on their respective blogs: <a href="http://davidmarkovich.com/">davidmarkovich.com</a> &amp; <a href="http://dblock.org/">dblock.org</a></p>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-4 col-md-4">
          <h4 class="bold-headline"><i class="fa fa-quote-left icons"></i>Feedback</h4>
          <div class="teal-line"></div>
          <p class="small-text">"As a former federal prosecutor, I am very familiar with the technological challenges the government faces in investigating and prosecuting online crimes involving children. The creation of the missingkidsbot could be a huge breakthrough in advancing the work of programs like the Amber Alert system. Finding children in danger quickly is often critical in saving them from serious abuse or worse. I applaud David/Daniel and others in the tech industry for working on solutions that might help protect children."<br>
          Francey Hakes - Former National Coordinator for Child Exploitation Prevention and Interdiction, U.S. Department of Justice</p>
          <div>&nbsp;</div>
          <p class="small-text">"It's great to see the power of Slack's real-time nature applied to such a real-time issue. I hope this will inspire the development of more tech-for-good!"<br>
          Ross Dakin - FAST Executive Team Member, Red Cross / Presidential Innovation Fellow</p>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4 class="bold-headline text-center" style="margin-top: 80px;">MISSINGKIDSBOT USES DATA FROM <a target='_blank' href='http://missingkids.org'>MISSINGKIDS.ORG</a></h4>
          <div class="teal-line center-block" style="margin-bottom: 30px;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-md-8">
          <p class="small-text text-center">According to the National Center for Missing and Exploited Children, roughly 800,000 children are reported missing each year in the United States -- that's roughly 2,000 per day.</p>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
      </div>
      <a class="link" href="mailto:david@chatoverload.com"><button class="contact-button center-block"><i class="fa fa-phone contact-icon"></i><span class="Add-MissingKidsBot contact-text" style="font-size: 14px;">Contact Us</button></a>
    </div>
    <%= partial 'public/partials/_footer.html' %>
  </body>
</html>
