<!DOCTYPE html>
<html>
  <head>
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />

    <meta charset="UTF-8">
    <title>Missing Kids Slack Bot</title>
    <meta name="description" content="Missingkidsbot is a Slack bot that allows you to receive active amber alerts and help spread the search for missing children.">
    <meta name="keywords" content="slack bot, missing kids, missing kids bot, missing children, amber alerts, help find missing kids, bot for missing kids"
    <meta property="og:type" content="website">
    <meta property="og:site_name" content=“Missing Kids Bot“>
    <meta property="og:image" content="https://missingkidsbot.org/img/missingkids_open_graph_1a.png">
    <meta property="og:title" content=“A Slack bot to alert about missing children”>
    <meta property="og:description" content=“Missingkidsbot allows you to receive active amber alerts and help spread the search for missing children.”>
    <script src="/scripts/jquery-1.7.1.min.js"></script>
    <script src="/scripts/url.min.js"></script>
    <script src="/scripts/register.js"></script>
    <script src="/scripts/stats.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300italic,300,600italic,600,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300italic,300,600italic,600,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-77454349-1', 'auto');
    ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="row header-background">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <a href=""><img class="logo" src="img/logo_header.png" alt="missingkidsbot logo"></a>
            <h2 class="htwo text-center">The Slack Bot to </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h1 class="ALERT-ABOUT-MISSING text-center">ALERT ABOUT MISSING CHILDREN </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h3 class="RECEIVE-ACTIVE-AMBER text-center">RECEIVE ACTIVE AMBER ALERTS &amp; HELP SPREAD<br>
            THE SEARCH FOR MISSING CHILDREN</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class='htwo text-center' id='messages'></div>
            <div id='register-top'>
                <a class="link" href="https://slack.com/oauth/authorize?scope=bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>">
                <button class="slack-button center-block">
                <img src="img/slack_logo_button_@2x.png" alt="slack add to button"><span class="Add-MissingKids-Bot">Add MissingKids Bot to <span style="font-weight:600;">Slack</span></span>
                </button>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-10 col-md-10">
          <img class="slack-chat" src="img/slack_window@2x.png" alt="slack chat for missingkidsbot">
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
      </div>
      <div class="row body-background">
        <div class="col-lg-1 col-md-1">
        </div>
        <div class="col-lg-4 col-md-4">
          <h4 class="bold-headline"><i class="fa fa-group icons"></i>Who Are We </h4>
          <div class="teal-line"></div>
          <p class="small-text">MissingKids Bot was created by two friends - David Markovich and Daniel Doubrovkine. Both David and Daniel have backgrounds in Slack and Bot creation. Before immersing himself in the Slack eco-sytstem, David was a digital marketer and is currently the founder of <a href="http://chatoverload.com/">ChatOverload.</a> Previous to becoming the CTO at <a href="http://artsy.net/">Artsy</a>, Daniel was a serial entrepreneur and worked for Microsoft among other accomplishments. You can read about both of them on their respective blogs: <a href="http://davidmarkovich.com/">davidmarkovich.com</a> & <a href="http://dblock.org/">dblock.org</a></p>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-4 col-md-4">
          <h4 class="bold-headline"><i class="fa fa-quote-left icons"></i>Feedback</h4>
          <div class="teal-line"></div>
          <p class="small-text">"It's great to see the power of Slack's real-time nature applied to such a real-time issue. I hope this will inspire the development of more tech-for-good!"<br>
          Ross Dakin - FAST Executive Team Member, Red Cross / Presidential Innovation Fellow</p>
        </div>
        <div class="col-lg-1 col-md-1">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="register-bottom">
            <h4 class="bold-headline text-center" style="margin-top: 70px;">JOIN THE MOVEMENT</h4>
            <div class="teal-line center-block" style="margin-bottom: 30px;"></div>

            <a class="link" href="https://slack.com/oauth/authorize?scope=bot&client_id=<%= ENV['SLACK_CLIENT_ID'] %>">
            <button class="slack-button center-block">
            <img src="img/slack_logo_button_@2x.png" alt="slack logo button"><span class="Add-MissingKids-Bot">Add MissingKids Bot to <span style="font-weight:600;">Slack</span></span>
            </button>
            </a>

          </div>
          <h4 class="bold-headline text-center" style="margin-top: 80px;">MISSINGKIDS BOT USES DATA FROM <a target='_blank' href='http://missingkids.org'>MISSINGKIDS.ORG</a></h4>
          <div class="teal-line center-block" style="margin-bottom: 30px;"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-md-8">
          <p class="small-text text-center">According to the National Center for Missing and Exploited Children, roughly 800,000 children are reported missing each year in the United States -- that's roughly 2,000 per day.</p>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
      </div>
<a class="link" href="mailto:david@chatoverload.com"><button class="contact-button center-block"><i class="fa fa-phone contact-icon"></i><span class="Add-MissingKids-Bot contact-text" style="font-size: 14px;">Contact Us</button></a>
    </div>

    <footer class="footer">
      <div class="table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <img class="footer-logo" src="img/footer_logo@2x.png" alt="missingkidsbot footer logo"><p class="small-text" style="display: inline;">Copyright &copy; 2016 MissingKids Bot</p>
            </div>
            <div class="col-lg-4 col-md-4">
              <p class="fork small-text text-center"><a href="https://github.com/dblock/slack-amber-alert" target="_blank">fork me on github</a> | <a href='/api'>RESTful API</a></p>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="col-xs-6 comming-soon small-text text-right" style="color: rgb(0, 141, 177);">Coming soon for: </div>
              <div class="col-xs-6 comming-soon-icons"><i class="fa fa-facebook-official"></i><i class="fa fa-skype"></i><i class="fa fa-whatsapp"></i>
</div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
