---
http_interactions:
- request:
    method: get
    uri: http://www.missingkids.com/missingkids/servlet/XmlServlet?LanguageCountry=en_US&act=rss&orgPrefix=NCMC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="UTF-8"?><rss version=''2.0''><channel><title>Missing
        Children Alert Cases</title><link>/</link><description>Missing Children Alert
        Cases</description><image><url>/en_US/missingkids_logo/homeHeaderLogo.gif</url><title>Missing
        Children Alert Cases</title><link>/</link></image><item><title>Missing: DANIEJAH
        CLOPTON (FL)</title><pubDate>Thu, 26 Jul 2018 12:00:00 EDT</pubDate><link>/poster/NCMC/1334573/1</link><description>DANIEJAH
        CLOPTON, Age Now: 17, Missing: 07/09/2018. Missing From TAMPA, FL. ANYONE
        HAVING INFORMATION SHOULD CONTACT: Tampa Police Department  (Florida)  1-813-276-3200.</description><enclosure
        length="1635" type="image/jpeg" url="/photographs/NCMC1334573c1t.jpg"/></item><item><title>Missing:
        KAYLA WALTON (NC)</title><pubDate>Thu, 26 Jul 2018 12:00:00 EDT</pubDate><link>/poster/NCMC/1334644/1</link><description>KAYLA
        WALTON, Age Now: 13, Missing: 07/24/2018. Missing From RALEIGH, NC. ANYONE
        HAVING INFORMATION SHOULD CONTACT: Wake County Sheriff''s Office (North Carolina)
        1-919-856-6911.</description><enclosure length="1791" type="image/jpeg" url="/photographs/NCMC1334644c1t.jpg"/></item><item><title>Missing:
        AMERIE SANTIAGO (MA)</title><pubDate>Thu, 26 Jul 2018 12:00:00 EDT</pubDate><link>/poster/NCMC/1334360/1</link><description>AMERIE
        SANTIAGO, Age Now: 14, Missing: 07/20/2018. Missing From WILMINGTON, MA. ANYONE
        HAVING INFORMATION SHOULD CONTACT: Wilmington Police Department (Massachusetts)
        1-978-658-3331.</description><enclosure length="2021" type="image/jpeg" url="[...]
- request:
    method: get
    uri: https://api.missingkids.org/missingkids/servlet/JSONDataServlet?LanguageId=en_US&action=childDetail&caseLang=en_US&caseNum=NCMC&orgPrefix=NCMC&searchLang=en_US&seqNum=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"error","msg":"Child Detail Information cannot be found.","posterlangs":""}'
  recorded_at: Wed, 01 Aug 2018 13:00:01 GMT
[...]
- request:
    method: get
    uri: https://api.missingkids.org/missingkids/servlet/JSONDataServlet?LanguageId=en_US&action=childDetail&caseLang=en_US&caseNum=1334573&orgPrefix=NCMC&searchLang=en_US&seqNum=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","msg":"","childBean":{"hasAgedPhoto":false,"hasExtraPhoto":false,"possibleLocation":"","caseNumber":"1334573","orgPrefix":"NCMC","seqNumber":1,"langId":"en_US","userLangId":"en_US","firstName":"DANIEJAH","lastName":"CLOPTON","middleName":"RANAE","approxAge":"","sex":"female","race":"black","birthDate":"May
        10, 2001 12:00:00 AM","height":64,"heightInInch":true,"weight":128,"weightInPound":true,"eyeColor":"brown","hairColor":"black","hasPhoto":true,"hasThumbnail":true,"hasPoster":true,"otherChildList":[{"hasAgedPhoto":false,"hasExtraPhoto":false,"possibleLocation":"","caseNumber":"1334573","orgPrefix":"NCMC","seqNumber":2,"langId":"en_US","userLangId":"en_US","firstName":"ENARIYAH","lastName":"MATHIS","middleName":"SERENITY","approxAge":"","sex":"female","race":"black","birthDate":"Mar
        12, 2017 12:00:00 AM","height":24,"heightInInch":true,"weight":25,"weightInPound":true,"eyeColor":"brown","hairColor":"black","hasPhoto":true,"hasThumbnail":true,"hasPoster":true,"otherChildList":[],"otherCsawList":[],"caseType":"endangeredRunaway","missingDate":"Jul
        9, 2018 12:00:00 AM","missingCity":"TAMPA","missingCounty":"","missingState":"FL","missingProvince":"","missingCountry":"US","circumstance":"Daniejah
        and her infant daughter, EnaRiyah, were last seen on July 9, 2018.  They may
        still be in the local area or they may travel to Orlando, Florida.","profileNarrative":"","orgName":"","orgContactInfo":"","orgLogo":"","isClearinghouse":false,"isChild":true,"repSightURL":"","inMonth":false,"inDay":false,"age":-1,"altContact":"Tampa
        Police Department  (Florida)  1-813-276-3200","photoMap":"c1c2","ncic":"","namUs":"","maxHeight":0,"maxWeight":0}],"otherCsawList":[],"caseType":"endangeredRunaway","missingDate":"Jul
        9, 2018 12:00:00 AM","missingCity":"TAMPA","missingCounty":"","missingState":"FL","missingProvince":"","missingCountry":"US","circumstance":"Daniejah
        and her infant daughter, EnaRiyah, were last seen on July 9, 2018.  They may
        still be in the local area or they may travel to Orlando, Florida.","profileNarrative":"","orgName":"National
        Center for Missing \u0026 Exploited Children","orgContactInfo":"1-800-843-5678
        (1-800-THE-LOST)","orgLogo":"NCMC_en_US.jpg","isClearinghouse":false,"isChild":true,"repSightURL":"","inMonth":false,"inDay":false,"age":17,"altContact":"Tampa
        Police Department  (Florida)  1-813-276-3200","photoMap":"c1c2","ncic":"","namUs":"","maxHeight":0,"maxWeight":0},"posterlangs":"en_US"}'
  recorded_at: Wed, 01 Aug 2018 13:01:02 GMT
[...]
