---
http_interactions:
- request:
    method: get
    uri: http://www.missingkids.org/missingkids/servlet/XmlServlet?LanguageCountry=en_US&act=rss&orgPrefix=NCMC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <rss version='2.0'><channel><title>Missing Children Alert Cases</title><link>http://www.missingkids.com/</link><description>Missing Children Alert Cases</description><image><url>http://www.missingkids.com/en_US/missingkids_logo/homeHeaderLogo.gif</url><title>Missing Children Alert Cases</title><link>http://www.missingkids.com/</link></image><item><title>Missing: NOEMI WALLACE (TX)</title><pubDate>Fri, 01 Apr 2016 12:00:00 EDT</pubDate><link>http://www.missingkids.com/missingkids/servlet/PubCaseSearchServlet?act=viewChildDetail&amp;LanguageCountry=en_US&amp;searchLang=en_US&amp;caseLang=en_US&amp;orgPrefix=NCMC&amp;caseNum=1264275&amp;seqNum=1</link><description>NOEMI WALLACE, Age Now: 16, Missing: 03/07/2016. Missing From LEANDER, TX. ANYONE HAVING INFORMATION SHOULD CONTACT: Leander Police Department (Texas) 1-512-528-2800.</description><enclosure length="1899" type="image/jpeg" url="http://www.missingkids.com/photographs/NCMC1264275c1t.jpg"/></item><item><title>Missing: NATHANIEL COOPER (TX)</title><pubDate>Tue, 29 Mar 2016 12:00:00 EDT</pubDate><link>http://www.missingkids.com/missingkids/servlet/PubCaseSearchServlet?act=viewChildDetail&amp;LanguageCountry=en_US&amp;searchLang=en_US&amp;caseLang=en_US&amp;orgPrefix=NCMC&amp;caseNum=1264431&amp;seqNum=1</link><description>NATHANIEL COOPER, Age Now: 12, Missing: 03/13/2016. Missing From H[...]
