<footer class="footer">
  <div class="table-cell">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <img class="footer-logo" src="img/footer_logo@2x.png" alt="missingkidsbot footer logo"><p class="small-text" style="display: inline;">Copyright &copy; 2016 MissingKidsBot</p>
        </div>
        <div class="col-lg-4 col-md-4">
          <p class="fork small-text text-center"><a href="https://github.com/dblock/slack-amber-alert" target="_blank">fork me on github</a> | <a href='/api'>RESTful API</a> | <a href="privacy.html" target="_blank">Privacy Policy</a></p>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="col-xs-6 comming-soon small-text text-right" style="color: rgb(0, 141, 177);">Coming soon for: </div>
          <div class="col-xs-6 comming-soon-icons"><i class="fa fa-facebook-official"></i><i class="fa fa-skype"></i><i class="fa fa-whatsapp"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
